<!--
  Generated template for the CrearObstaculoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>crearObstaculo</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
<ion-scroll scrollX = "true" style = "white-space:nowrap; height:2000px">
    <ion-grid>
      <ion-row style = "align-items:flex-start" *ngFor="let filas of sala">
        <ion-col *ngFor="let thing of filas">
          <ion-checkbox [(ngModel)] = "thing.isObstaculo">
          </ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button (click)="crear()" class="center">Crear</button>
      </ion-row>
    </ion-grid>
  </ion-scroll>
 <!--    <ion-scroll scrollXY="true" style = "white-space:nowrap; height:2000px">
      <ion-list>
       <ion-item *ngFor="let filas of sala">
        <ion-checkbox *ngFor="let thing of filas" [(ngModel)]="thing.isObstaculo" >
        </ion-checkbox>
      </ion-item> 
      <button ion-button (click)="crear()" class="center">Crear</button>
     </ion-list>
    </ion-scroll>-->
</ion-content>
